{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="http://{{server_address}}/servers.html"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="http://{{server_address}}/servers.html">Servers</a></li>
                <li class="breadcrumb-item"><a href="http://{{server_address}}/servers/{{segment}}">10.0.0.1</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Alerts</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Computers found on latest scan</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="connecteddevices">Hardware Address</th>
                  <th scope="col" class="sort" data-sort="user">Timestamp</th>
                  <th scope="col" class="nextcron">Status</th>
                  <th scope="col" class="nextcron">Parent Ip</th>
                </tr>
              </thead>
              <tbody class="list">
              {% for entry in latest_server_alert_data %}
              <tr>

                <td class="hardwareaddress">

                  {{entry[2]}}
                </td>
                 <td class="timestamp">
                      {{entry[3]}}
                    </td>
                  <td class="status">
                     {{entry[4]}}
                    </td>
                  <td class="parentip">
                     {{entry[6]}}
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Services found on latest scan</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="connecteddevices">Service</th>
                  <th scope="col" class="sort" data-sort="user">Status</th>
                  <th scope="col" class="nextcron">Timestamp</th>
                  <th scope="col" class="nextcron">Port</th>
                  <th scope="col" class="nextcron">Protocol</th>
                  <th scope="col" class="nextcron">IP_VPN</th>
                </tr>
              </thead>
              <tbody class="list">
              {% for entry in added_server_services_alert_data %}
              <tr>

                <td class="name">

                  {{entry[1]}}
                </td>
                 <td class="status">
                      {{entry[2]}}
                    </td>
                  <td class="timestamp">
                     {{entry[3]}}

                    </td>
                 <td class="port">
                     {{entry[4]}}
                    </td>
                 <td class="protocol">
                     {{entry[5]}}
                    </td>
                 <td class="ipvpn">
                     {{entry[8]}}

                    </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Services that disappeared on latest scan</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="connecteddevices">Service</th>
                  <th scope="col" class="sort" data-sort="user">Status</th>
                  <th scope="col" class="nextcron">Timestamp</th>
                  <th scope="col" class="nextcron">Port</th>
                  <th scope="col" class="nextcron">Protocol</th>
                  <th scope="col" class="nextcron">IP_VPN</th>
                </tr>
              </thead>
              <tbody class="list">
              {% for entry in removed_server_services_alert_data %}
              <tr>

                <td class="name">

                  {{entry[1]}}
                </td>
                 <td class="status">
                      {{entry[2]}}
                    </td>
                  <td class="timestamp">
                     {{entry[3]}}

                    </td>
                 <td class="port">
                     {{entry[4]}}
                    </td>
                 <td class="protocol">
                     {{entry[5]}}
                    </td>
                 <td class="ipvpn">
                     {{entry[8]}}

                    </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
